@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

.App {
  text-align: center;
}

header {
  border: 3px solid red;
}

.Comments {
  border: 5px solid orange;
}

.Comments__commentsList {
  list-style: none;
}

.Comments__commentsList li {
  border-bottom: 1px solid black;
}

.NavBar__category-button {
  margin: 5px;
}
