@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

.App {
  text-align: center;
}

header {
  border-bottom: 3px solid #f6f6f6;
  /* display: flex; */
}

/* .Header__title {
  text-align: left;
}

.Header__profile {
  text-align: right;
} */

.Comments {
  border: 5px solid orange;
}

.Comments__commentsList {
  list-style: none;
}

.Comments__commentsList li {
  border-bottom: 1px solid black;
}

.NavBar__category-button {
  margin: 5px;
}

.Review {
  max-width: 800px;
  margin: 0 auto;
}

.ReviewsList {
  max-width: 800px;
  margin: 0 auto;
}

.WriteReview {
  max-width: 800px;
  margin: 0 auto;
}

.ReviewsList__sort-buttons {
  text-align: left;
}

.CategoriesList {
  max-width: 800px;
  margin: 0 auto;
}

.CategoriesList p {
  margin: 10px;
}
